.review {
  display: grid;
  grid-template-columns: 7.5rem 1fr;
  column-gap: 2.4rem;
  row-gap: 1.6rem;
  margin-bottom: 8rem;
  max-width: 60rem;
}

.review__profile {
  width: 7.5rem;
  border-radius: var(--br);
}

.review__name--wrapper {
  align-self: center;
}

.review__name {
  font-size: 1.6rem;
  font-weight: normal;
}

.review__ratings {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  list-style: none;
}

.review__ratings svg {
  width: 1.5rem;
}

.review__desc {
  grid-column: 1 / -1;
}
