/*---------------
    Resets
---------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border:none;
    background:transparent;
}

/*---------------
    Global
---------------*/
:root{
    /* teal */
    --clr-accent-000: #c3fae8;
    --clr-accent-200: #63e6be;
    --clr-accent-400: #20C997;
    --clr-accent-600: #0ca678;
    --clr-accent-800: #087f5b;

    /* dark */
    --clr-dark-000: #f1f3f5;
    --clr-dark-200: #dee2e6;
    --clr-dark-400: #adb5bd;
    --clr-dark-600: #495057;
    --clr-dark-700: #343a40;
    --clr-dark-800: #212529;
    --clr-dark-900: #171a1c;
    --clr-dark-1000: #000000;

    /* light */
    --clr-light-400: #fff;

    /* Shadow */
    --shadow-box: 0px 5px 10px rgba(0,0,0,.1);
    --shadow-txt: 0px 0px 10px rgba(0,0,0,.4);

    /* Border radius */
    --br: 2px;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: minmax(2.4em, 1fr) minmax(200px, 1200px) minmax(2.4em, 1fr);
}

img {
    max-width: 100%;
}

svg {
    height:2.5rem;
}

.logo {
    font-size: 3.125rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--clr-accent-400);
}

.logo__slogan {
    font-size: 1.6rem;
    color:var(--clr-light-400);
}

/*---------------
    Typography
---------------*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}

h1 {
    font-size: 4.883rem;
}

h2 {
    font-size: 3.906rem;
}

h3 {
    font-size: 3.125rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

p,
a {
    font-size: 1.6rem;
    line-height: 1.5em;
}

/*---------------
    Buttons
---------------*/

.cta {
    display: inline-block;
    text-decoration: none;
    color:var(--clr-dark-800);
    background-color: var(--clr-accent-400);
    border-bottom:2px solid var(--clr-accent-400);
    border-radius: var(--br);
    padding:.8em 1.6em;
    transition:background-color 150ms ease-in-out;
}

.cta:hover,
.cta:focus {
    background-color:var(--clr-light-400);
    border-radius: var(--br) var(--br) 0 0;
}

.cta--small {
    display: inline-block;
    font-size: 1.28rem;
}

/*---------------
    Nav
---------------*/

.nav {
    grid-column: 1 / -1;
}

/* ------ First nav ------ */
.first__nav {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 2.4rem;
    background-color: var(--clr-light-400);
    position: relative;
    z-index: 100;
}

.first__nav__icons {
    display: flex;
    align-items: center;
    gap:3.2rem;
    list-style: none;
}

.first__nav__item {
    position: relative;
}

.first__nav__item::after {
    content:'';
    display: block;
    width:100%;
    height:3px;
    border-radius: var(--br);
    background-color: var(--clr-accent-400);
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 150ms ease-in-out;
}

.first__nav__item:hover::after,
.first__nav__item:focus::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Search form */
.nav__search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2.4rem;
    background-color: var(--clr-dark-000);
    position: absolute;
    left:0;
    right:0;
    transform: translateY(0);
    transition: transform 150ms ease-in-out;
}

.hidden {
    transform: translateY(-100%);
}

.nav__search-bar--wrapper {
    display: flex;
    width:90%;
    max-width: 500px;
}

.nav__search-bar__input {
    padding:.8em 1.6em;
    border:none;
    border-left:1px solid var(--clr-dark-400);
    border-top:1px solid var(--clr-dark-400);
    border-bottom:1px solid var(--clr-dark-400);
    border-radius: var(--br) 0 0 var(--br);
    width:100%;
}

.nav__search-bar__input:focus,
.nav__search-bar__input:focus + .btn--search {
    outline: none;
    border-color: var(--clr-accent-200);
}

.btn--search {
    display: flex;
    align-items: center;
    border:1px solid var(--clr-dark-400);
    border-left:none;
    border-radius: 0 var(--br) var(--br) 0;
    padding:0 .8em;
    background:var(--clr-light-400);
}

/* ------ Second nav ------ */
.second__nav {
    display: flex;
    justify-content: center;
    background-color: var(--clr-dark-800);
}

.second__nav__links {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    width: 100%;
    list-style: none;
}

.second__nav__link {
    display: block;
    color:var(--clr-light-400);
    text-decoration: none;
    padding:.8em 1.6em;
}

.second__nav__link:hover,
.second__nav__link:focus {
    color:var(--clr-accent-200);
}

/*---------------
    Header
---------------*/

.header {
    grid-column: 1 / -1;
    display: grid;
    align-items: center;
    grid-template-columns: inherit;
    min-height: 75vh;
    background-image: url('img/fjelltopp\ air.jpeg');
    background-size: cover;
    background-position: center;
    color:var(--clr-light-400);
}

.header--wrapper {
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.header__title {
    text-shadow: var(--shadow-txt);
}

.header__desc {
    margin-bottom:6.4rem;
    text-shadow: var(--shadow-txt);
}

/*---------------
    Campaigns
---------------*/

.campaigns {
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
    gap:1.6em;
    padding:4.8rem 0;
}

.card-link--wrapper {
    text-decoration: none;
    color:var(--clr-dark-800);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--shadow-box);
    border-radius: var(--br);
}

.card__img {
    max-height: 50rem;
    object-fit: contain;
}

.card__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:1.2em;
}

.card__body__title {
    grid-column: 1 / -1;
    margin-bottom:.8rem;
}

.card__body__desc {
    grid-column: 1 / -1;
    margin-bottom:4.8rem;
}

.card__body__price {
    font-weight: bold;
    font-size: 2.5rem;
}

.card__body .cta {
    justify-self: end;
}

/*---------------
    Reviews
---------------*/

.reviews {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: inherit;
    background-color: var(--clr-dark-000);
    padding:4.8rem 0;
}

.reviews--wrapper {
    grid-column: 2 / -2;
}

.reviews__title {
    margin-bottom:2.4rem;
}

.review {
    display: grid;
    grid-template-columns: 7.5rem 1fr;
    column-gap:2.4rem;
    row-gap: 1.6rem;
    margin-bottom:8rem;
    max-width: 60rem;
}

.review:last-of-type {
    margin-bottom:0;
}

.review__profile {
    width:7.5rem;
    border-radius: var(--br);
}

.review__name--wrapper {
    align-self: center;
}

.review__name {
    font-size: 1.6rem;
    font-weight: normal;
}

.review__ratings {
    display: flex;
    flex-wrap: wrap;
    gap:1.2rem;
    list-style: none;
}

.review__ratings svg {
    width: 1.5rem;
}

.review__desc {
    grid-column: 1 / -1;
}

/*---------------
    Company Info
---------------*/

.company-info {
    grid-column: 2 / -2;
    padding:8rem 0;
}

.company__article {
    max-width: 60rem;
}

.company__article:first-of-type {
    margin-bottom:6.4rem;
}

.company__article__title {
    margin-bottom:1.6rem;
}

.company__article__desc {
    margin-bottom:1.2rem;
}

.company__article .cta {
    margin:1.6rem 0 2.4rem 0;
}

/*---------------
    Newsletter
---------------*/

.newsletter {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: inherit;
    background-color:var(--clr-accent-000);
    padding:6.4rem 0;
}

.newsletter--wrapper {
    grid-column: 2 / -2;
    text-align: center;
}

.newsletter__title {
    font-size: clamp(1.6rem, 5vw, 3.2rem);
    margin-bottom:.2em;
    line-height: .8em;
}

.newsletter__desc {
    font-size: clamp(1.2rem, 2.5vw, 1.6rem); 
    margin-bottom:3.2rem;
}

.newsletter__form {
    display: flex;
    justify-content: center;
}

.newsletter__input {
    padding:0 .8rem;
    width: 50%;
    max-width: 50rem;
    border:1px solid var(--clr-dark-600);
    border-radius: var(--br) 0 0 var(--br);
}

.cta--newsletter {
    border-bottom:none;
    border-radius: 0 var(--br) var(--br) 0;
}

/*---------------
    Footer
---------------*/

.footer {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: inherit;
}

/* ------ First footer ------ */
.first__footer {
    grid-column: 2 / -2;
}

/* ------ Second footer ------ */
.second__footer {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: inherit;
}

.second__footer--wrapper {
    grid-column: 2 / -2;
}

/*---------------
    Footer
---------------*/
.footer {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: inherit;
    background:var(--clr-dark-900);
}

.footer svg {
    height:2.5rem;
}

/* ----- First footer ------ */
.first__footer {
    grid-column: 2 / -2;
    display:flex;
    flex-direction: column;
    gap:3.2rem;
    padding:6.4rem 0;
}

/* Footer items styles */
/* General list styles */
.footer__list {
    display:flex;
    flex-direction: column;
    gap:.4rem;
    font-size: 1.6rem;
    color:var(--clr-light-400);
    list-style: none;
    font-size: 1.2rem;
}

.footer__list svg {
    display: inline-block;
    height: 1.5rem;
    margin-right:.8rem;
    fill:var(--clr-dark-400);
}

.footer__list__item--darker {
    color:var(--clr-dark-400);
}

.footer__list__link {
    text-decoration: none;
    color:var(--clr-light-400);
    font-size: 1.2rem;
}

.footer__list__link:hover,
.footer__list__link:focus {
    text-decoration: underline;
}

/* Social list styles */
.footer__socials {
    display: flex;
    gap:1.6rem;
    list-style: none;
}

.footer__socials svg {
    fill:var(--clr-light-400);
}

.footer__socials__link:hover svg,
.footer__socials__link:focus svg {
    fill:var(--clr-accent-200);
}

/* Business hours modifierers */
.footer__business-hours {
    width: 20rem;
}

.footer__business-hours .footer__list__item {
    display:flex;
    justify-content: space-between;
}

/* ----- Second footer ------ */
.second__footer {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: inherit;
    background:var(--clr-dark-1000);
    padding:1.2rem 0;
}

.second__footer--wrapper {
    grid-column: 2 / -2;
}

.second__footer a {
    color:var(--clr-light-400);
    text-decoration: none;
    font-size: 1.2rem;
}

.second__footer a:hover,
.second__footer a:focus {
    text-decoration: underline;
}

.second__footer__copyright {
    margin-bottom: .2rem;
    color:var(--clr-dark-600);
    font-size: 1.2rem;
}

/*---------------
    Shop
---------------*/

.shop-header {
    margin-top: 6.4rem;
    grid-column: 2 / -2;
    display: grid;
    align-items: center;
    grid-template-columns: inherit;
    min-width: 50%;
    background-image: url('/img/04-going-hiking-two-people.jpg');
    background-size: cover;
    background-position: 50% 25%;
    color:var(--clr-light-400);
}

.shop-header__title {
    margin-left: 12.8rem;
    text-shadow: var(--shadow-txt);
    padding: 4.8rem 0rem;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin: 6.4rem 0;
    grid-column: 2 / -2;
    justify-content: space-between;
    outline: red solid 2px;
    justify-content: start;
}

.shop > .card-link--wrapper {
    flex-direction: column;
    height: 50rem;
}

.shop--wrapper {
    display: grid;
    grid-template-columns: minmax(2.4em, 1fr) minmax(200px, 1200px) minmax(2.4em, 1fr);
}

.shop-categories {
    grid-column: 2 / 2;
    display: flex;
    flex-direction: column;
}



/*---------------
    Media queries
---------------*/

@media only screen and (min-width: 40em) {
    /* ------ Campaigns ------ */
    .campaigns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        padding:4.8rem 0 6.4rem 0;
    }

    .campaigns__title {
        grid-column: 1 / -1;
    }

    .card {
        justify-content: space-between;
        height: 100%;
    }

    .card__img {
        max-height: 25rem;
    }

    /* ------ Newsletter ------ */
    .newsletter {
        padding:12.8rem 0;
    }
}



@media only screen and (min-width: 60em) {
    /* ------ Campaigns ------ */
    .campaigns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: stretch;
        padding:4.8rem 0 9.6rem 0;
    }

    .card {
        justify-content: space-between;
        height: 100%;
    }

    .card__img {
        max-height: 25rem;
    }

    /* ------ Reviews ------ */
    .reviews {
        padding:6.4rem 0 9.6rem 0;
    }

    .reviews--wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap:4.8rem;
    }

    .reviews__title {
        grid-column: 1 / -1;
    }

    .review {
        align-content: start;
        margin-bottom:0;
    }

    /* ------ Company Info ------ */
    .company-info {
        padding:12.8rem 0;
    }

    .company__article {
        display: flex;
        align-items: stretch;
        gap:4.8rem;
        min-height: 40vh;
        max-width: none;
    }

    .company__article:first-of-type {
        margin-bottom:9.6rem;
    }

    .company__article--wrapper {
        align-self: center;
    }

    .company__article__img {
        max-width: 50%;
        object-fit: cover;
    }

    .company__article--mirrored img {
        order: -1;
    }

    /* ------ Footer ------ */
    .first__footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "logo . socials"
            "links business-hours contact-info";
        row-gap:6.4rem;
        column-gap: 3.2rem;
        padding:12.8rem 0;
    }

    .footer__list,
    .footer__list__link {
        font-size: 1.6rem;
    }

    /* Footer item placement */
    .first__footer__logo--wrapper {
        grid-area: logo;
    }

    .footer__socials {
        grid-area: socials;
        align-self:end;
    }

    .footer__link {
        grid-area: links;
    }

    .footer__business-hours {
        grid-area: business-hours;
    }

    .footer__contact-info {
        grid-area: contact-info;
    }



}