.cart-page {
  grid-column: 2 / -2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: var(--spacing-large);
  margin: var(--spacing-xxl) 0;
  min-height: 50vh;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
  box-shadow: var(--shadow-box);
  padding: var(--spacing-large);
}

.cart__item {
  display: flex;
  gap: var(--spacing-smaller);
}

.cart__item__img {
  width: 5rem;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cart__item__title {
  font-size: var(--fs-small);
}

.cart__item__details {
  flex-grow: 1;
}

.cart__item__detail {
  font-size: var(--fs-smaller);
}

.cart__item__addons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__item__price {
  font-size: var(--fs-small);
}

.cart__item__remove {
  font-size: var(--fs-smaller);
}

.cart__item__remove:hover {
  text-decoration: underline;
}

.total {
  box-shadow: var(--shadow-box);
  padding: var(--spacing-large);
  margin-bottom: var(--spacing-large);
}

.total__item {
  display: flex;
  justify-content: space-between;
}

.total__item:last-child {
  margin-top: var(--spacing-small);
  padding-top: var(--spacing-small);
  border-top: 1px solid var(--clr-dark-500);
}

.cart__submit {
  width: 100%;
}
