/*---------------
    Company Info
---------------*/

.company-info {
  grid-column: 2 / -2;
  padding: var(--spacing-xxxl) 0;
}

.company-article {
  max-width: 60rem;
}

.company-article:first-of-type {
  margin-bottom: var(--spacing-xxl);
}

.company-article__title {
  margin-bottom: var(--spacing-medium);
}

.company-article__desc {
  margin-bottom: var(--spacing-small);
}

.company-article .cta {
  margin: var(--spacing-medium) 0 var(--spacing-large) 0;
}
