/*---------------
    Footer
---------------*/
.footer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: inherit;
  background: var(--clr-dark-900);
}

.footer svg {
  height: 2.5rem;
}

/* ----- First footer ------ */
.first-footer {
  grid-column: 2 / -2;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-larger);
  padding: var(--spacing-xxl) 0;
}

/* Footer items styles */
/* General list styles */
.footer-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-tiny);
  color: var(--clr-light-400);
  list-style: none;
  font-size: var(--fs-small);
}

.footer-list svg {
  display: inline-block;
  height: 1.5rem;
  margin-right: var(--spacing-smaller);
  fill: var(--clr-dark-400);
}

.footer-list__item--darker {
  color: var(--clr-dark-400);
}

.footer-list__link {
  text-decoration: none;
  color: var(--clr-light-400);
  font-size: var(--fs-small);
}

.footer-list__link:hover,
.footer-list__link:focus {
  text-decoration: underline;
}

/* Social list styles */
.socials {
  display: flex;
  gap: var(--spacing-medium);
  list-style: none;
}

.socials svg {
  fill: var(--clr-light-400);
}

.socials__link:hover svg,
.socials__link:focus svg {
  fill: var(--clr-accent-200);
}

/* Business hours modifierers */
.footer__business-hours {
  width: 20rem;
}

.footer__business-hours .footer__list__item {
  display: flex;
  justify-content: space-between;
}

/* ----- Second footer ------ */
.second-footer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: inherit;
  background: var(--clr-dark-1000);
  padding: var(--spacing-medium) 0;
}

.second-footer--wrapper {
  grid-column: 2 / -2;
}

.second-footer a {
  color: var(--clr-light-400);
  text-decoration: none;
  font-size: var(--fs-small);
}

.second-footer a:hover,
.second-footer a:focus {
  text-decoration: underline;
}

.second-footer__copyright {
  margin-bottom: var(--spacing-tinyest);
  color: var(--clr-dark-600);
  font-size: var(--fs-small);
}
