.form {
  background-color: var(--clr-light-400);
  font-size: 1.6rem;
  width: 90%;
  max-width: 500px;
}

.form--padding {
  padding: 2.4em;
}

.form--stretch {
  width: 100%;
  max-width: none;
}

.form__logo {
  display: block;
  margin-bottom: -0.4em;
  cursor: pointer;
}

.form__title {
  font-size: 3.906rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.form__title--small {
  font-size: 2.5rem;
}

.form__section {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  border: none;
  margin: 4.8em 0 3.2em 0;
}

.form__section--horizontal {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.form__section--no-space {
  margin: 0;
  margin-bottom: 1.6rem;
}

.form__input--wrapper {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 0.4em;
}

.form__input {
  border: 1px solid var(--clr-dark-1000);
  padding: 0.4em;
}

.form__input--file {
  max-width: 225px;
}

.form__error-msg {
  font-size: 1.28rem;
  text-align: center;
  color: var(--clr-error-400);
  padding: 0.4rem 0;

  transition: opacity 250ms ease-in-out;
}

.form__error-msg--hidden {
  opacity: 0;
}
