.form {
  background-color: var(--clr-light-400);
  font-size: var(--fs-medium);
  width: 90%;
  max-width: 500px;
}

.form--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--spacing-extra-large);
  max-width: 100rem;
}

.form--padding {
  padding: var(--spacing-larger);
}

.form--stretch {
  width: 100%;
  max-width: none;
}

.form__logo {
  display: block;
  margin-bottom: -0.4em;
  cursor: pointer;
}

.form__title {
  font-size: var(--fs-xxl);
  font-weight: bold;
  grid-column: 1 / -1;
  margin-bottom: var(--spacing-medium);
}

.form__title--small {
  font-size: var(--fs-larger);
}

.form__section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  border: none;
  margin: var(--spacing-xxl) 0 var(--spacing-larger) 0;
}

.form__section--horizontal {
  display: grid;
  grid-template-columns: var(--grid-column, repeat(5, 1fr));
}

.form__section--four-column {
  --grid-column: repeat(4, 1fr);
}

.form__section--no-space {
  margin: 0;
  margin-bottom: var(--spacing-medium);
}

.form__input--wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form__input--wrapper--full-width {
  grid-column: 1 / -1;
}

.form__label {
  display: flex;
  gap: var(--spacing-small);
  margin-bottom: var(--spacing-smaller);
  font-size: var(--fs-medium);
}

.form__input {
  border: 1px solid var(--clr-dark-1000);
  padding: var(--spacing-smaller);
  width: 100%;
}

.form__input[type="file"] {
  padding: 0;
  max-width: 22.5rem;
  border: none;
}

.form__input[type="file"]::file-selector-button {
  border: 1px solid var(--clr-dark-900);
  padding: var(--spacing-smaller);
}

.form__input[type="file"]::file-selector-button:hover {
  background-color: var(--clr-dark-200);
}

.form__input[type="file"]::file-selector-button:active {
  background-color: var(--clr-dark-300);
}

.form__input[type="checkbox"] {
  display: block;
  width: 1.5rem;
}

.form__input--textarea {
  resize: none;
}

.form__input--full-width {
  grid-column: 1 / span 2;
}

.form-submit-wrapper--stretch {
  grid-column: 1 / -1;
}

.form__feedback {
  font-size: var(--fs-medium);
  text-align: centerz;
  margin-top: var(--spacing-smaller);
  opacity: 0;
}

.form__feedback--inline {
  display: inline-block;
  margin-left: var(--spacing-medium);
}

.form__feedback--align-center {
  text-align: center;
}

.form__feedback--success {
  color: var(--clr-accent-400);
}

.form__feedback--error {
  color: var(--clr-error-400);
}

.form__feedback__animation {
  opacity: 1;
  animation: fade-out 250ms ease-in-out 7s forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
