/*---------------
    Media queries
--------------- */

@media only screen and (min-width: 40em) {
  /* ------ Campaigns ------ */
  .campaigns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    padding: var(--spacing-extra-large) 0 var(--spacing-xxl) 0;
  }

  .campaigns__title {
    grid-column: 1 / -1;
  }

  .product-card {
    justify-content: space-between;
    height: 100%;
  }

  .product-card__img {
    max-height: 25rem;
  }

  /* ------ Newsletter ------ */
  .newsletter {
    padding: var(--spacing-gigantic) 0;
  }

  /* ------ Shop ------ */
  .shop-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* ------ Product page ------ */
  .showcase__body {
    gap: var(--spacing-xxl);
  }

  .body__title {
    font-size: var(--fs-xxl);
  }

  .body__price {
    font-size: var(--fs-extra-large);
  }

  .body__form__color,
  .size-selector-text {
    font-size: var(--fs-large);
  }

  .color__button {
    font-size: var(--fs-large);
  }

  /* ------ Cart page ------ */
  .cart__item__img {
    width: 7rem;
  }

  .cart__item__title {
    font-size: var(--fs-large);
  }

  .cart__item__detail {
    font-size: var(--fs-small);
  }

  .cart__item__price {
    font-size: var(--fs-medium);
  }

  .cart__item__price--small {
    font-size: var(--fs-small);
  }

  .cart__item__remove {
    font-size: var(--fs-small);
  }

  /* ------ Orders ------ */
  .orders {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
  }

  .order {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 60em) {
  /* ------ Campaigns ------ */
  .campaigns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    padding: var(--spacing-extra-large) 0 var(--spacing-huge) 0;
  }

  .product-card {
    justify-content: space-between;
    height: 100%;
  }

  .product-card__img {
    max-height: 25rem;
  }

  /* ------ Reviews ------ */
  .reviews {
    padding: var(--spacing-huge) 0 var(--spacing-gigantic) 0;
  }

  .reviews--wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--spacing-extra-large);
  }

  .reviews__title {
    grid-column: 1 / -1;
  }

  .review {
    align-content: start;
    margin-bottom: 0;
  }

  /* ------ Company Info ------ */
  .company-info {
    padding: var(--spacing-gigantic) 0;
  }

  .company-article {
    display: flex;
    align-items: stretch;
    gap: var(--spacing-extra-large);
    max-width: none;
  }

  .company-article:first-of-type {
    margin-bottom: var(--spacing-huge);
  }

  .company-article--wrapper {
    align-self: center;
  }

  .company-article__img {
    max-width: 50%;
    height: 40rem;
    object-fit: cover;
  }

  .company-article--mirrored img {
    order: -1;
  }

  /* ------ Footer ------ */
  .first-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "logo . socials"
      "links business-hours contact-info";
    row-gap: var(--spacing-xxl);
    column-gap: var(--spacing-larger);
    padding: var(--spacing-gigantic) 0;
  }

  .footer__list,
  .footer__list__link {
    font-size: var(--fs-medium);
  }

  /* Footer item placement */
  .first-footer__logo--wrapper {
    grid-area: logo;
  }

  .socials {
    grid-area: socials;
    align-self: end;
  }

  .footer-list--link {
    grid-area: links;
  }

  .footer-list--business-hours {
    grid-area: business-hours;
  }

  .footer-list--contact-info {
    grid-area: contact-info;
  }

  /* ------ Shop ------ */
  .shop {
    display: grid;
    grid-template-columns: 22em 1fr;
    gap: var(--spacing-medium);
  }

  .shop-header {
    grid-column: 2 / -2;
    margin: var(--spacing-extra-large) 0 var(--spacing-larger) 0;
  }

  .categories {
    display: flex;
    flex-direction: column;
  }

  /* ------ Product page ------ */
  .layout {
    display: grid;
    grid-template-columns: 50rem 1fr;
    grid-template-rows: auto 1fr;
    row-gap: var(--spacing-xxxl);
    margin: var(--spacing-xxxl) 0;
    min-height: 60vh;
  }

  .image--big {
    margin-bottom: var(--spacing-xxl);
  }

  .showcase__body {
    padding: var(--spacing-larger);
  }

  /* ------ Cart page ------ */
  .cart-page {
    display: grid;
    grid-template-columns: 1fr 30rem;
    grid-template-rows: auto 1fr;
    align-items: start;
  }

  .cart-page__title {
    grid-column: 1 / -1;
  }

  /* ------ Orders ------ */
  .order__detail__title {
    font-size: var(--fs-large);
  }

  .order__detail__item,
  .order__detail__body {
    font-size: var(--fs-medium);
  }

  /* ------ Profile page ------ */
  .profile-page {
    margin: var(--spacing-xxxl) 0;
    gap: var(--spacing-larger);
  }

  .profile-info {
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xxl);
  }

  .profile-info__label {
    flex-basis: 55%;
  }

  .profile-info__value,
  .profile-info__input {
    flex-basis: 25%;
  }
}

@media only screen and (min-width: 75em) {
  /* ------ Shop ------ */
  .shop-items {
    grid-template-columns: repeat(3, 1fr);
  }
}
