/*---------------
    Newsletter
---------------*/

.newsletter {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: inherit;
  background-color: var(--clr-accent-000);
  padding: var(--spacing-xxl) 0;
}

.newsletter--wrapper {
  grid-column: 2 / -2;
  text-align: center;
}

.newsletter__title {
  font-size: clamp(1.6rem, 5vw, 3.2rem);
  margin-bottom: var(--spacing-tiny);
  line-height: var(--spacing-larger);
}

.newsletter__desc {
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
  margin-bottom: var(--spacing-larger);
}

.newsletter__form {
  display: flex;
  justify-content: center;
}

.newsletter__input {
  padding: 0 var(--spacing-smaller);
  width: 50%;
  max-width: 50rem;
  border: 1px solid var(--clr-dark-600);
  border-radius: var(--br) 0 0 var(--br);
}

.cta--newsletter {
  border-bottom: none;
  border-radius: 0 var(--br) var(--br) 0;
}
