/*---------------
    product page
---------------*/

.layout {
  grid-column: 2 / -2;
  margin: var(--spacing-xxl) 0;
  display: grid;
  grid-template-columns: 20rem repeat(2, 1fr);
  column-gap: var(--spacing-medium);
  row-gap: var(--spacing-xxl);
}
