.product-card-link--wrapper {
  text-decoration: none;
  color: var(--clr-dark-800);
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--shadow-box);
  border-radius: var(--br);
}

.product-card__img {
  max-height: 50rem;
  object-fit: contain;
}

.product-card__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--spacing-large);
}

.product-card__body__title {
  grid-column: 1 / -1;
  margin-bottom: var(--spacing-smaller);
  line-height: var(--spacing-larger);
}

.product-card__body__desc {
  grid-column: 1 / -1;
  margin-bottom: var(--spacing-extra-large);
}

.product-card__body__price {
  font-weight: bold;
  font-size: var(--fs-larger);
}

.product-card__body .cta {
  justify-self: end;
}
