/*---------------
    product page
---------------*/

.layout {
    grid-column: 2 / -2;
    margin-top: 6.4rem;
    display: grid;
    row-gap: 1.6rem;
    grid-template-columns: 20rem 50rem 50rem;
  }