.review {
  display: grid;
  grid-template-columns: 7.5rem 1fr;
  column-gap: var(--spacing-large);
  row-gap: var(--spacing-medium);
  margin-bottom: var(--spacing-xxxl);
  max-width: 60rem;
}

.review__profile-img {
  width: 7.5rem;
  border-radius: var(--br);
}

.review__name--wrapper {
  align-self: center;
}

.review__name {
  font-size: var(--fs-medium);
  font-weight: normal;
}

.review__ratings {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-small);
  list-style: none;
}

.review__ratings svg {
  width: 1.5rem;
}

.review__desc {
  grid-column: 1 / -1;
}
