/*---------------
    Reviews
---------------*/

.reviews {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: inherit;
  background-color: var(--clr-dark-000);
  padding: var(--spacing-extra-large) 0;
}

.reviews--wrapper {
  grid-column: 2 / -2;
}

.reviews__title {
  margin-bottom: var(--spacing-large);
}

.review:last-of-type {
  margin-bottom: 0;
}
