/*---------------
    Shop
---------------*/

.shop-header {
  grid-column: 1 / -1;
  background-image: url("../img/shop-header/hiking-header-compressed.jpg");
  background-size: cover;
  background-position: 50% 60%;
  color: var(--clr-light-400);
}

.shop-header__title {
  margin-left: var(--spacing-xxl);
  text-shadow: var(--shadow-txt);
  padding: var(--spacing-extra-large) 0rem;
}

.shop {
  grid-column: 2 / -2;
  grid-template-columns: 20em 1fr;
  gap: var(--spacing-medium);
  margin: var(--spacing-larger) 0;
  min-height: 60vh;
}

.shop-items {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: var(--spacing-medium);
}

/* ----- Mens shop ------ */

.shop-header--men {
  background-image: url("../img/shop-header/man-hiking-compressed.jpg");
}

/* ----- Womans shop ------ */

.shop-header--women {
  background-image: url("../img/shop-header/girl-hiking-compressed.jpg");
  background-position: 50% 40%;
}

/* ----- Animals shop ------ */

.shop-header--animals {
  background-image: url("../img/shop-header/dog-hiking-compressed.jpg");
  background-position: 50% 70%;
}
