/*---------------
    showcase card body
---------------*/

.showcase__body {
  grid-column: 3 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2.4rem;
}


.card__body__title{
    display: flex;
    justify-self: flex-start;
    order: 0;
    padding: 2.4rem 0rem 1.6rem 0rem;
  }
  
  .card__body__price {
    display: flex;
    justify-self: flex-start;
    order: 1;
    padding: 0rem 0rem 6.4rem 0rem;
  }
  
  .card__body__color{
    display: flex;
    justify-self: flex-start;
    order: 3;
    padding: 0rem 0rem 1.6rem 0rem;
  }
  
  .color_button_wrapper {
    order: 4;
    display: flex;
    gap: 1.6rem;
  }
  
  .color_button {
    width: 4rem;
  }
  
  .color_button--orange {
    border: 2rem solid #ffa500;
    background-color: orange;
  }

  .color_button--green {
    border: 2rem solid #008000;
    background-color: green;
  }

  .size_selector_text{
    display: flex;
    justify-self: flex-start;
    order: 5;
    padding: 0rem 0rem 0.8rem 0rem;
    font-size: 2.5rem;
    font-weight: bold;
    /*---------------
      Fikk den til å etterligne h4, skal jeg bare bytte den til h4
  ---------------*/
  }
  
  .size_selector {    
    /*---------------
    sjekk om denne verdien er innenfor
---------------*/
    width: 50%;
    display: flex;
    justify-self: flex-start;
    order: 6;
    padding: 1.6rem;
    text-align: left;
  }
  
  .option_text {
    display: flex;
    justify-self: flex-start;
  }
  
  #cta--add--to--cart {
    display: block;
    justify-self: flex-start;
    order: 7;
    padding: 0.8rem 0rem 0.8rem 0rem;
    margin: 6.4rem 2.4rem 2.4rem 0rem;
    text-align: center;
  }

  .cta {
    display: inline-block;
    text-decoration: none;
    color:var(--clr-dark-800);
    background-color: var(--clr-accent-400);
    border-bottom:2px solid var(--clr-accent-400);
    border-radius: var(--br);
    padding:.8em 1.6em;
    transition:background-color 150ms ease-in-out;
}

.cta--small {
  display: inline-block;
  font-size: 1.28rem;
}