.table {
  font-size: 1.6rem;
  border-spacing: 1.2rem;
  width: 100%;
}

.table__title {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1.6rem;
}

.table__heading {
  text-align: left;
}

.table__row--delete,
.table__row--delete button {
  text-align: center;
  color: var(--clr-error-400);
  cursor: pointer;
}
